.Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Palette-colors {
  height: 90%;
}
.palette-footer {
  background-color: #fff;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-family: "Italianno", cursive;
  font-size: 1.5rem;
}
.palette-footer * {
  font-family: "Italianno", cursive;
}
.emoji {
  font-size: 1.5rem;
  margin: 0 1rem;
}
